<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brökkes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap-4/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/styles/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap-4/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
